[submodule "odk-frame-analyzer"]
	path = odk-frame-analyzer
	url = https://gitlab.com/odk/odk-frame-analyzer.git
[submodule "odk-frame-analyzer/yolov5"]
	path = odk-frame-analyzer/yolov5
	url = https://github.com/ultralytics/yolov5.git
